<div class="example">

  <h1>Manual Unpoly tests</h1>

  <ul>
    <li><%= link_to 'Layer', '/css_test/layer' %></li>
    <li><%= link_to 'Form (basic)', '/form_test/basic/new' %></li>
    <li><%= link_to 'Form (validation)', '/form_test/validation/new' %></li>
    <li><%= link_to 'Form (upload)', '/form_test/upload/new' %></li>
    <li><%= link_to 'Form (redirect)', '/form_test/redirect/new' %></li>
    <li><%= link_to 'Error', '/error_test/trigger' %></li>
    <li><%= link_to 'Booting with non-GET method', '/method_test/page1' %></li>
    <li><%= link_to 'Fragment update (basic)', '/replace_test/page1' %></li>
    <li><%= link_to 'Fragment update (table)', '/replace_test/table' %></li>
    <li><%= link_to 'Fragment update (local content)', '/replace_test/local' %></li>
    <li><%= link_to 'Hash links (without Unpoly)', '/hash_test/vanilla#one' %></li>
    <li><%= link_to 'Hash links (with Unpoly)', '/hash_test/unpoly#one' %></li>
    <li><%= link_to 'Revealing content in an overflowing <div> ', '/reveal_test/within_overflowing_div_viewport#small' %></li>
    <li><%= link_to 'Revealing content in the document viewport ', '/reveal_test/within_document_viewport#small' %></li>
    <li><%= link_to 'Revealing long pages', '/reveal_test/long1' %></li>
    <li><%= link_to 'Scrolling behavior', '/scroll_test/long1' %></li>
    <li><%= link_to 'Infinite scrolling', '/reveal_test/infinite_scrolling' %></li>
    <li><%= link_to 'Animations', '/motion_test/animations' %></li>
    <li><%= link_to 'Transitions', '/motion_test/transitions' %></li>
    <li><%= link_to 'Compilers', '/compiler_test/timestamp' %></li>
    <li><%= link_to 'Booting (sync scripts)', '/boot_test/sync' %></li>
    <li><%= link_to 'Booting (defer scripts)', '/boot_test/defer' %></li>
    <li><%= link_to 'Booting (module scripts)', '/boot_test/module' %></li>
    <li><%= link_to 'Booting (manual because [up-boot] attribute)', '/boot_test/manual_attribute' %></li>
    <li><%= link_to 'Booting (manual because async)', '/boot_test/async' %></li>
    <li><%= link_to 'Inert before booting', '/boot_test/inert_before_boot' %></li>
    <li><%= link_to 'CSP (no inline scripts)', '/csp_test/no_inline_scripts' %></li>
    <li><%= link_to 'CSP (inline scripts require nonce)', '/csp_test/inline_scripts_require_nonce' %></li>
    <li><%= link_to 'Navigation feedback', '/feedback_test/page1' %></li>
    <li><%= link_to 'Polling (basic)', '/poll_test/basic' %></li>
    <li><%= link_to 'Polling (not modified response)', '/poll_test/unchanged' %></li>
    <li><%= link_to 'Kept video', '/kept_video_test/video1' %></li>
    <li><%= link_to 'Swapped video', '/swapped_video_test/without_video' %></li>
  </ul>

</div>
